body {
	font-family: 'Lato', sans-serif;
	color: #ADB9B9;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 5em;
	color: #D8D1CB;
}

h3 {
	color: #D8D1CB;
}

hr {
	width: 450px;
}

#content {
	text-align: center;
	color: white;
	padding-top: 35%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1); 	
}

#main {
	text-align: center;
	color: white;
	padding-top: 35%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1); 	
}

html {
	height: 100%;
}

ul>li {
	list-style: none;
	color: #D8D1CB;
}

a {
	color: black;	
}

